.no_x_axis .frappe-chart .x.axis text, .no_x_axis .frappe-chart .x.axis .line-vertical {
  display: none;
}

.graph-svg-tip.comparison .title{
  color: #dfe2e5;
}

.table__wrapper{
  overflow-x: auto;
}

.rc-slider{
  max-width: 250px;
}

.react-tabs .tabs{
  margin-left: 0;

  ul {
    margin-left: 0;
  }
}